@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
body, html {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll hidden;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
 * {
  box-sizing: border-box;
 }

 .bg-image {
  height:100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  scroll-snap-align: center;
 }


.img1 {
  background-image: url("starry-sky.jpg");
  position: relative;
}

.flyBy {
  color: white;
  font: Source Code Pro;
  font-size: 40px;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  animation: fly-in 11s ease-in-out 1, ticker 12s linear infinite;
}

@keyframes fly-in {
  from {
    opacity: 0;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-moz-keyframes ticker {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes ticker {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes ticker {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}



h2 {
  white-space: pre-line;
  color: white;
  font-size: 100px;
  text-align: left;
  animation: fadein 11s;
  margin-top: 1vh;
  margin-left: 80vh;
  float: left;
  transition: transform 0.5s ease-in-out;
}
.h2-class:hover {
  transform: translateY(-5px);
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.links {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links li {
  display: inline-block;
  margin: 0 200px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.links a:hover {
  text-decoration: underline;
}
a {
  opacity: 0;
  animation: fade-in 11s forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}


  
.fancy-stuff {
  position: absolute;
  perspective: 40px;
  white-space: pre-line;
  color: white;
  font-size: 55px;
  text-align: right;
  animation: fadein 4s;
  float: right;
  border: solid white;
  border-radius: 120px; 
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}


.img2 {background-image: url("Night-Cityscape.jpg");
position: relative;
}

.title-bit {
  font: Source Code Pro;
  color: white;
  font-size: xx-large;
  margin-left: 15%;
}
.interest-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 78vh;
  border: solid white;
  flex-wrap: nowrap;
  max-width: 100%;
}

.interest-container:hover p:nth-child(1) {
  transform: translateX(-10px);
}

.interest-container:hover p:nth-child(2) {
  transform: translateX(-20px);
}

.interest-container:hover p:nth-child(3) {
  transform: translateX(-30px);
}

.interest-container:hover p:nth-child(4) {
  transform: translateX(-40px);
}

.interest-container:hover p:nth-child(5) {
  transform: translateX(-50px);
}


.interest {
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border: solid white;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.img1, .img2 {
  opacity: 0;
  background-position: top;
  background-size: 3000px;
  animation: slidein 100s, fade-in 7s forwards;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

